version: 2.1
executors:
  my-executor:
    docker:
      - image: cimg/node:16.14.1
    working_directory: ~/repo

references:
  restore-cache: &restore-cache
    restore_cache:
      keys:
        - app-{{ checksum "package.json" }}
        - app-
  save-cache: &save-cache
    save_cache:
      key: app-{{ checksum "package.json" }}
      paths:
        - node_modules
  install-dependencies: &install-dependencies
    run:
      name: Install dependencies
      command: npm install

jobs:
  install_dependencies:
    executor: my-executor
    steps:
      - checkout
      - *restore-cache
      - *install-dependencies
      - *save-cache
  unit_testing:
    executor: my-executor
    steps:
      - checkout
      - *restore-cache
      - *install-dependencies
      - run:
          name: Run Unit test
          command: npm install

workflows:
  build_test:
    jobs:
      - install_dependencies
      - unit_testing:
          requires:
            - install_dependencies
